# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset *chipotle.tsv*

In [102]:
chipo = pd.read_table("Exercise Data Files/Pandas Exercise Filtering Sorting Files/chipotle.tsv",sep="\t")

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

### Step 3. Assign it to a variable called chipo.

In [130]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [104]:
new=[]
for i in chipo['item_price']:
     
        val=str(i)
        k=val[1:]
        
        new.append(float(k))

chipo['item_price']=new
chipo
chipo[chipo['item_price']>=10.00]['item_price'].count()

1130

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

In [106]:
chipo[['item_name','item_price']].head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [128]:
chipo.sort_values('item_name').head()

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [116]:
# val=[]
# sortedval=chipo.sort_values('item_price',ascending=False).head()
# for i in sortedval['quantity']:
#     val.append(i)
# val[0]
chipo.quantity[chipo.item_price==chipo['item_price'].max()]

3598    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [117]:
chipo.quantity[chipo.item_name=='Veggie Salad Bowl'].sum()
# new=chipo['quantity']
# chipo['quantity'].sum()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [134]:
chipo.quantity[(chipo['item_name']=='Canned Soda') & (chipo.quantity>=2)].count()
# new2=new[new.item_name=='Canned Soda']
# new2[['quantity','item_name']]

20